#Ignore all
*

#Unignore all Makefile files
!Makefile*
!makefile*

##Unignore all with extensions
!*.*

#Unignore all directories
!*/

#Ignore all vim temp files
*~
*.swp

#Ignore object files
*.o

#Ignore all gch files
*.gch

